body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}

li:hover {
    background-color: #e0e0e0;
}

.precio-verde {
    color: green;
    border: 2px solid green;
    padding: 5px;
    border-radius: 5px;
    display: inline-block; /* Esto evita que el div ocupe todo el ancho */
}

.informecolor{
    color: red;
    border: 2px solid red;
    padding: 5px;
    border-radius: 5px;
    display: inline-block; /* Esto evita que el div ocupe todo el ancho */
}

.celda{
    color: black;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    display: inline-block; /* Esto evita que el div ocupe todo el ancho */
}